body{

  background-color: rgb(32, 1, 59); /*cor de fundo*/

}

a{

  text-decoration: none; /*tirando o sublinhado nas tags a */

}

.texTo{

  animation: movimentarTexto 2s ease alternate-reverse ;

}

.texTo:hover{

  animation: movimentarTexto 1s ease forwards infinite ;

}

@keyframes movimentarTexto { /*determinado a animção e o espaço dela se mexer*/
  
  0% {

    padding: 1rem;

    background-color: rgb(32, 1, 59);

  } 

  20% {

    padding: 2rem;

    background-color: #2E0052;

  }

}

.Cards{

  position: relative;

  margin-left: 40px;
  margin-right: 40px;

  animation: movimenTar 4s ease forwards  /*infinite*/; /*determinando nome da animação e o tempo dela*/
   
}

.CardAnimado:hover{
  
  animation: movimenTar 1s ease forwards  infinite;

}

@keyframes movimenTar { /*determinado a animção e o espaço dela se mexer*/
  
  0% {

    padding: 1rem;

  } 

  20% {

    padding: 2rem;

  }

}

.corPrimaria {

  background-color: #2E0052; /*cor da navbar footer e banner*/

}

.tamanhoDiv{ /*tamanho do banner*/

  width: 100%;
  height: 400px;
}



